<div class="row">
  <div class="col-lg-6">
    <div class="section-header">
      Alchemist's Settings
    </div>
    <div class="slider-container">
        <span class="setting-label">Alchemy Skill Level</span>
        <mat-slider class="my-slider slider-control" min="0" max="100" step="1" showTickMarks >
            <input matSliderThumb [(ngModel)]="potionService.alchemySettings.alchemySkillLevel">
        </mat-slider>
        <span class="plus-span">
          <button class="button-light increment-button" 
            (click)="increaseItem('alchemySkillLevel', potionService.alchemySettings.alchemySkillLevel)">+</button>
        </span>
        <span class="quantity-span">
          <input class="quantity-input input-light" inputmode="numeric" 
            [(ngModel)]="potionService.alchemySettings.alchemySkillLevel"
            (change)="validateAlchemySkillLevel($event, potionService.alchemySettings.alchemySkillLevel)"
            onfocus="this.select()" />
        </span>
        <span class="minus-span">
          <button class="button-light increment-button"
            (click)="decreaseItem('alchemySkillLevel', potionService.alchemySettings.alchemySkillLevel)">-</button>
        </span>
    </div>
    <div class="slider-container">
        <span class="setting-label">Alchemist Perk Rank</span>
        <mat-slider class="my-slider slider-control" min="0" max="5" step="1" showTickMarks >
            <input matSliderThumb [(ngModel)]="potionService.alchemySettings.alchemistPerkRank">
          </mat-slider>
          <span class="plus-span">
            <button class="button-light increment-button" 
              (click)="increaseItem('alchemistPerkRank', potionService.alchemySettings.alchemistPerkRank)">+</button>
          </span>
          <span class="quantity-span">
            <input class="quantity-input input-light" inputmode="numeric" 
            (change)="validateAlchemistPerkRank($event,potionService.alchemySettings.alchemistPerkRank)"
              [(ngModel)]="potionService.alchemySettings.alchemistPerkRank"
              onfocus="this.select()" />
          </span>
          <span class="minus-span">
            <button class="button-light increment-button"
              (click)="decreaseItem('alchemistPerkRank', potionService.alchemySettings.alchemistPerkRank)">-</button>
          </span>
    </div>
    <div class="slider-container">
      <span class="setting-label">Fortify Alchemy %</span>
      <mat-slider class="my-slider  slider-control" min="0" max="100" step="1" showTickMarks >
          <input matSliderThumb [(ngModel)]="potionService.alchemySettings.fortifyAlchemyPercent">
        </mat-slider>
        <span class="plus-span">
          <button class="button-light increment-button" 
            (click)="increaseItem('fortifyAlchemyPercent', potionService.alchemySettings.fortifyAlchemyPercent)">+</button>
        </span>
        <span class="quantity-span">
          <input class="quantity-input input-light" inputmode="numeric" 
            [(ngModel)]="potionService.alchemySettings.fortifyAlchemyPercent"
            (change)="validateFortifyAlchemyPercent($event,potionService.alchemySettings.fortifyAlchemyPercent)"
            onfocus="this.select()" />
        </span>
        <span class="minus-span">
          <button class="button-light increment-button"
            (click)="decreaseItem('fortifyAlchemyPercent', potionService.alchemySettings.fortifyAlchemyPercent)">-</button>
        </span>
    </div>
    <div class="spacer"></div>
    <div>
        <span class="setting-label">Physician Perk</span>
        <mat-checkbox [(ngModel)]="potionService.alchemySettings.hasPhysicianPerk">
        </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Benefactor Perk</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.hasBenefactorPerk">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Poisoner Perk</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.hasPoisonerPerk">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Purity Perk</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.hasPurityPerk">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Seeker of Shawdows</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.hasSeekerOfShadows">
      </mat-checkbox>
    </div>
  </div>
 
  <div class="col-lg-6 dlc-header">
    <div class="section-header header-might-collapse">
      DLC's to Include
    </div>
    <div>
      <span class="setting-label">Vanilla</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useVanilla">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Dawnguard</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useDawnguard">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Dragonborn</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useDragonborn">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Fishing</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useFishing">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Quest</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useQuest" >
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Saints and Seducers</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useSaintsAndSeducers">
      </mat-checkbox>
    </div>
    <div>
      <span class="setting-label">Rare Curios</span>
      <mat-checkbox [(ngModel)]="potionService.alchemySettings.useRareCurios">
      </mat-checkbox>
    </div>
  </div>
</div>
