<div class="button-header">
  <button class="button-outline-dark" (click)="addAll()"><fa-icon [icon]="faPlus"></fa-icon> All</button>
  &nbsp;
  <button class="button-outline-dark" (click)="removeAll()"><fa-icon [icon]="faTrashCan"></fa-icon> All</button>
</div>
<div>
  <ul class="list-unstyled card-columns">
  @for (effect of potionService.currentEffects; track effect.name) {
    <li>
      <div class="effect-item">
        <mat-checkbox [(ngModel)]="effect.isSelected" >
        </mat-checkbox>
        <span class="setting-label">{{effect.name}}</span>
      </div>
    </li>
  }
  </ul>
</div>