@if (potionService.isLoading) {
  <div class="myspinner">
    <div class="myspinner-inner">
      <div class="spinner-border" role="status"></div>
      <div class="mixing-potions">Mixing Potions...</div>
    </div>
  </div>
}


<div class="page-header">
  <span class="page-icon"><fa-icon [icon]="faFlask"></fa-icon></span>
  <span class="page-title">Potions Master</span>
</div>

@if (!potionService.isLoading) {
<div class="container">
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="selectedItem !== 'Settings'">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Settings</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-settings></app-settings> 
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="selectedItem !== 'Inventory'">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Inventory</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            This is some inventory
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="selectedItem !== 'Desired Effects'">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Desired Effects</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            These are some desired effects
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="selectedItem !== 'Potions'">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Potions</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            These are some potions
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>  
}