<div class="page-header">
  <span class="page-icon"><fa-icon [icon]="faFlask"></fa-icon></span>
  <span class="page-title">Potions Master</span>
</div>

<div class="container">
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="this.potionService.selectedAccordionItem !== 'Settings'"
        (click)="this.potionService.accordionItemSelected('Settings')">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Settings</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-settings></app-settings> 
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="this.potionService.selectedAccordionItem !== 'Desired Effects'"
        (click)="this.potionService.accordionItemSelected('Desired Effects')">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Desired Effects</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-desired-effects></app-desired-effects>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="this.potionService.selectedAccordionItem !== 'Inventory'"
        (click)="this.potionService.accordionItemSelected('Inventory')">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Inventory</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-inventory></app-inventory>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="this.potionService.selectedAccordionItem !== 'Potions'" 
        (click)="this.potionService.accordionItemSelected('Potions')">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Potions</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-potion-selector></app-potion-selector>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>  