.plus-span {
    // display: inline-block;
    margin-right: 2px;
    vertical-align: middle !important;
}

.increment-button {
    width: 20px;
    height: 22px;
    font-weight: bold;
    padding: 0px !important;
    font-size: 16px;
    margin-top: 0px;
    border-radius: 4px;
    border: none;
}

.name-span {
    // display: inline-block;
}

.quantity-span {
    // display: inline-block;
    width: 30px;
    text-align: center;
    vertical-align: middle !important;
}

.quantity-input {
    width: 35px;
    height: 23px;
    font-size: 12px;
    margin-right: 0px;
}

.minus-span {
    // display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
    vertical-align: middle !important;
}

.inventory-item {
    margin-bottom: 8px;
    vertical-align: middle !important;
}

.card-columns {
    @media screen and (max-width: 767px) {
        column-count: 1;
    }
    @media screen and (min-width: 768px )
        and (max-width:1199px)
    {
        column-count: 2;
    }

    @media screen and (min-width: 1200px )
    {
        column-count: 3;
    }
    
}

.button-header {
    margin-bottom: 10px;
}